//navbar
//===================================================
.site-navbar {
  padding: .75rem 0;
  width: 100%;
  background: $site-navbar-bg;
}

.navbar-brand {
  display: inline-block;
  margin-left: 3.125rem;
}

.navbar-container {
  float: right;
  display: inline-block;
  margin-right: 5.75rem;
  .search {
    width: 20rem;
    height: 1.875rem;
    border: none;
    border-radius: 15px;
    margin-right: 1.625rem;
  }
  .login {
    color: $white;
    font-size: .75rem;
  }
}