//navbar
//===================================================
.site-navbar {
  padding: .75rem 0;
  width: 100%;
  background: $site-navbar-bg;
}

.navbar-brand {
  display: inline-block;
  margin-left: 3.125rem;
}

.navbar-container {
  float: right;
  display: inline-block;
  margin-right: 5.75rem;
}