.site-navbar {
  padding: .75rem 0;
  width: 100%;
  background: #2189bf; }

.navbar-brand {
  display: inline-block;
  margin-left: 3.125rem; }

.navbar-container {
  float: right;
  display: inline-block;
  margin-right: 5.75rem; }
  .navbar-container .search {
    width: 20rem;
    height: 1.875rem;
    border: none;
    border-radius: 15px;
    margin-right: 1.625rem; }
  .navbar-container .login {
    color: #fff;
    font-size: .75rem; }
